 *{
    box-sizing: border-box;
    text-align: center;
   
  }

body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777;
    font-size: 18px;
    background: #777;
    width: 960px; margin: 0 auto; padding 20px;

}

header {
    background: #ebebeb;
    padding: 30px;
    margin-bottom: 10px;
    margin-top: 10px;
}

nav {
    background: #ebebeb;
    padding: 30px;
    margin-bottom: 20px;
}



section {
    background: #ebebeb;
    padding: 20px;
    float: left;
    border: thin solid;
    width: 65%;
    margin-bottom: 20px;
    
}

article {
    background-color: #777;
    color: #ebebeb;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
}

head {
    background-color: #ebebeb;
    color: #777777;
    padding: 10px;
    
}

p {
    background-color: #ebebeb;
    padding: 10px;
    color: #777;
}

.aside {
    Flex: 50%;
    Text-align:center;
    padding: 10px;
    background-color: #ebebeb;
    color: #777;
    padding: 120px;
    float: right;
    margin-bottom: 10px;
    height: 242px;
}

footer {
    clear: both;
    background-color: #ebebeb;
    color: #777;
    padding: 30px;
    margin-bottom: 40px;
}